.App {
  text-align: center;
  font-family: Montserrat Alternates;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f58e70;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.ant-menu-horizontal > .ant-menu-item::after,
.ant-menu-horizontal > .ant-menu-submenu::after {
  border-bottom: 1px;
  transition: none !important;
}
.ant-modal-header {
  border-bottom: 2px solid transparent;
  position: relative;
}
.ant-modal-header:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #e9e9e9;
  width: 50%;
  height: 0px;
}
